################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApplication/Debug
/ConsoleApplication/x64/Debug
/Debug
/ConsoleApplication/x64/Debug
/LMDBWindows/.vs/LMDBWindows/v15
/Lib/cpprest141d_2_10.pdb
/Lib/LMDBWindowsDll64.pdb
/Lib/LMDBWindows64.pdb
/LMDBWindows/Debug
/LMDBWindows/Release
/LMDBWindows/x64
/LMDBWindowsDll/Debug
/LMDBWindowsDll/Release
/LMDBWindowsDll/x64
/MyClient/x64/Debug
/MyServer/x64/Debug
/x64/Debug
/Topo.docx
/AppMFCandCOM
/RegFW
/MyLittleServer
/MyServer.7z
/MyServer_.7z
/Admin/x64/Debug
/ConsoleApplication1/x64/Debug
/MyServer_2.7z
/TurnOnOffFW
/.vs
/HttpLMDB/x64/Debug
/HttpLMDB_Client/x64/Debug
/LMDBWrapper/x64/Debug
/LMDBWrapper_Client/x64/Debug
/libraries/liblmdb/.vs
/MySharedStuff/x64/Debug
/ConsoleApplication1/x64/Release
/HttpLMDB/x64/Release
/HttpLMDB_Client/x64/Release
/Admin/x64/Release
/LMDBNet/bin
/LMDBNet/obj
/LMDBNet_Client/bin
/LMDBNet_Client/obj
/LMDBNet_ClientFiles/bin/Debug
/LMDBNet_ClientFiles/obj/Debug
/LMDBService/x64/Debug
/LMDBWcf_Client/bin/Debug
/LMDBWcf_Client/obj/Debug
/LMDB_Wcf/obj/Debug
/LMDB_Wcf/bin
/LMDB_ClientFiles/x64/Debug/LMDB_ClientFiles.tlog
/LMDB_ClientFiles/x64/Debug
/LMDBWindows/.vs/LMDBWindows/DesignTimeBuild
/LMDBService_ConsoleApp/bin/Debug
/LMDBService_ConsoleApp/obj/Debug
